<div class="relative">
  <button
    class="bg-lightblue/30 relative z-40 min-w-[200px] cursor-pointer rounded-xl border-2 border-white/60 p-4 font-bold text-white backdrop-blur-md"
  >
    Get in touch
  </button>
  <div
    class="absolute left-[50%] top-[50%] z-30 translate-x-[-50%] translate-y-[-50%]"
  >
    <svg
      width="544"
      height="544"
      viewBox="0 0 544 544"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <circle
        opacity="0.57"
        cx="272"
        cy="272"
        r="272"
        fill="url(#paint0_radial_741_686)"></circle>
      <defs>
        <radialGradient
          id="paint0_radial_741_686"
          cx="0"
          cy="0"
          r="1"
          gradientUnits="userSpaceOnUse"
          gradientTransform="translate(272 272) rotate(90) scale(272)"
        >
          <stop stop-color="#07A65E"></stop>
          <stop offset="1" stop-color="#2C2E3E" stop-opacity="0"></stop>
        </radialGradient>
      </defs>
    </svg>
  </div>
</div>
