---
import LogoOwl from "./LogoOwl.astro";
---

<span class="flex items-center justify-between">
  <LogoOwl />
  <p class="hidden pl-5 text-2xl sm:flex">
    digit<span class="font-bold">owly</span>
  </p>
</span>
