---
import LogoOwl from "./LogoOwl.astro";
---

<span
  class="flex scale-75 items-center justify-between sm:scale-90 md:scale-100"
>
  <LogoOwl />
  <p class="hidden pl-5 text-2xl sm:flex">
    digit<span class="font-bold">owly</span>
  </p>
</span>
