---
import AppIcon from "./Icons/AppIcon.astro";
import WebIcon from "./Icons/WebIcon.astro";

interface Props {
  title: string;
  body: string;
  icon: "web" | "app";
}

const { title, body, icon } = Astro.props;
---

<div class="relative flex w-full items-center justify-center">
  <span class="absolute -top-[150px] z-10">
    {icon == "web" && <WebIcon />}
    {icon == "app" && <AppIcon />}
  </span>
  <div
    class="bg-dark border-iceblue relative z-30 w-full rounded-lg border-2 p-5 text-white"
  >
    <h2 class="pb-5 text-center text-xl font-bold">
      {title}
    </h2>
    <p>
      {body}
    </p>
  </div>
</div>
