---
import Logo from "../Logo/Logo.astro";
---

<nav
  class="bg-dark fixed left-0 top-0 z-50 flex h-20 w-full items-center justify-between p-5 text-white"
>
  <span class="w-52">
    <Logo />
  </span>
  <ul class="flex font-bold">
    <li>about</li>
    <span class="pl-5"></span>
    <li>contact</li>
  </ul>
</nav>
