---
import Logo from "../Logo/Logo.astro";
---

<nav
  class="fixed left-0 top-0 z-50 flex h-20 w-full items-center justify-between bg-dark/90 px-5 text-white backdrop-blur-md sm:px-12 xl:px-[15%] 2xl:px-[25%]"
>
  <a aria-label="link to the start of the website" href="/">
    <Logo />
  </a>
  <ul class="flex font-bold">
    <!-- <li>
      <a href="/projects">projects</a>
    </li> -->
    <span class="pl-5"></span>
  </ul>
</nav>
