---
import Logo from "../Logo/Logo.astro";
---

<nav
  class="triangle fixed z-50 flex h-screen w-[220px] flex-col bg-white px-7 py-10"
>
  <Logo />
  <div class="pt-14"></div>
  <div class="flex h-full flex-col justify-between">
    <ul>
      <li>about</li>
      <li>contact</li>
    </ul>
    <ul>
      <li>impressum</li>
    </ul>
  </div>
</nav>

<style>
  .triangle {
    clip-path: polygon(100% 0%, 0% 0%, 0% 100%, 80% 100%);
  }
</style>
