---
import { ContactForm } from "../components/ContactForm";
import Layout from "../layouts/Layout.astro";
---

<Layout title="digitowly - contact">
  <main>
    <p class="text-white">contact form</p>
    <ContactForm client:load />
  </main>
</Layout>
