---
import GetInTouchButton from "../components/Buttons/GetInTouchButton.astro";
import Card from "../components/Card/Card.astro";
import MainTitle from "../components/MainTitle/MainTitle.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="digitowly">
  <main>
    <MainTitle />
    <div
      class="relative z-40 mt-20 flex w-full flex-col items-center justify-center"
    >
      <p class="relative z-40 pb-8 text-center text-white">
        sustainable app and web experiences with modern technologies
      </p>
      <GetInTouchButton />
      <div class="mt-[200px]"></div>
      <section
        class="relative z-40 flex w-full flex-col justify-between md:flex-row"
      >
        <Card
          icon="web"
          title="Websites"
          body="This is just some placeholder.. This is just some placeholder..This is just some placeholder..This is just some placeholder..This is just some placeholder..This is just some placeholder..This is just some placeholder..This is just some placeholder.. This is just some placeholder..This is just some placeholder.."
        />
        <span class="mb-[180px] pl-10"></span>
        <Card
          icon="app"
          title="Websites"
          body="This is just some placeholder.."
        />
      </section>
    </div>
  </main>
</Layout>
