---
import Heart from "./Heart.astro";
import TitleGradient from "./TitleGradient.astro";
---

<div>
  <div class="relative z-50 flex w-full flex-col items-center justify-center">
    <span class="flex items-center pb-5">
      <Heart />
      <p
        class="pl-3 text-[2rem] font-bold leading-none text-white md:text-[4rem]"
      >
        for
      </p>
    </span>
    <span class="flex flex-col sm:flex-row">
      <h1
        class="slide-in-left text-[5rem] font-bold leading-none text-green md:text-[7.5rem]"
      >
        digital
      </h1>
      <h1
        class="slide-in-right text-[5rem] font-bold leading-none text-white md:text-[7.5rem]"
      >
        places
      </h1>
    </span>
  </div>
  <div class="absolute top-0 z-10 hidden md:block">
    <TitleGradient />
  </div>
</div>

<style>
  .slide-in-left {
    transform: translateX(0);
    opacity: 1;
    animation: slideLeft 1s;
  }

  .slide-in-right {
    transform: translateX(0);
    opacity: 1;
    animation: slideRight 1s;
  }

  @keyframes slideLeft {
    0% {
      opacity: 0;
      transform: translateX(-200px);
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes slideRight {
    0% {
      opacity: 0;
      transform: translateX(200px);
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
</style>
